:root {
  --title-text-color: #212121;
  --porfolio-h-color: #212121;
  --portfolio-p-color: #757575;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.page-header {
  padding-top: 24px;
  background-color: brown;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 200px;
  border: 2px solid red;
}

p {
  margin: 0;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* логотип */
.logo-webstudio {
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.web {
  color: #2196f3;
}

.studio {
  color: #000000;
}

/* навигация сайта */
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.active {
  color: #2196f3;
}

.contacts-header a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;
  color: #757575;
}

.contacts-header a:hover,
.contacts-header a:focus {
  color: #2196f3;
}

/* section-1 */
.section-title {
  background-color: gray;
  text-align: center;
}

.section-title .title {
  margin: 0px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  text-decoration: none;
  background-color: #2196f3;
  color: #ffffff;
  border-color: transparent;
}

/* section-2 */

.section-qualities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.qualities {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.personal-qualities p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/* section-3 */
.work-section {
  padding-bottom: 87px;
}
.work-title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.work-list {
  margin-top: 50px;
}

.work-list h3 {
  width: 370px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* section-4 */
.ourteam-section {
  padding-top: 101px;
  padding-bottom: 87px;
  background-color: #f5f4fa;
}
.ourteam {
  margin-top: 50px;
}

.ourtaem-title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.ourteam h3 {
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.ourteam p {
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.team {
  padding-top: 30px;
  width: 270px;
  background-color: #ffffff;
}

/* section-5 */
.regular-customers {
  padding-top: 101px;
  padding-bottom: 94px;
}

.customers-title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.customers-link {
  margin-top: 50px;
}

/* fotter */
.footer {
  background-color: #2f303a;
}

.contacts-box {
  margin-top: 49px;
  width: 231px;
  border: 2px solid red;
}

.socialinks-box {
}
.logo-footer {
  display: inline-block;
  margin-bottom: 8px;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.web-footer {
  color: #2196f3;
}

.studio-footer {
  color: #ffffff;
}

.address {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-footer a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer a:hover,
.contacts-footer a:focus {
  color: #2196f3;
}

.invitation {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.developers {
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

/* -------------------ПОРТФОЛИО------------------*/
.input {
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.input:hover,
.input:focus {
  color: #ffffff;
  background: #2196f3;
}

.portfolio-home {
  display: none;
}

.portfolio {
  text-decoration: none;
}

.portfolio-title {
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--porfolio-h-color);
}

.portfolio-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
